# Python
*.pyc
__pycache__/

# Virtual environment
myenv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
